# Ignore build outputs
JourneyToLove/build/
JourneyToLove/out/
JourneyToLove/bin/
JourneyToLove/lib/

# debug information files
*.dwo
JourneyToLove/.vs

# Ignore object files and executables
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.dylib

# IDE/project-specific stuff
.vscode/
.idea/
*.user
*.suo
*.vcxproj*
*.xcodeproj


